<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/styles.css">

</head>

<body>
    <h1>ERROR</h1>
    <p>Make Sure your password is atleast 8 characters long and should not contain the string password.</p>
    <p>Age must be greater than 17.</p>
    <p>Also make sure you don't leave any field empty. </p>
    <div class=" containerBtn">
        <a href="/signup"> <button id="moreBtn" class="a">
                SignUp <i class="fa fa-angle-right" id="light-bulb"></i></button>
        </a>

    </div>
    <div class=" containerBtn">
        <a href="/"> <button id="moreBtn" class="a">
                Home <i class="fa fa-angle-right" id="light-bulb"></i></button>
        </a>

    </div>
</body>

</html>